<template>
  <div>
    <header class="bg-white">
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <div class="flex lg:flex-1">
          <!-- <NuxtLink to="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Motortours</span>
            <img class="h-20 w-auto" src="/images/motorritme.png" alt="" />
          </NuxtLink> -->
        </div>
        <div class="flex lg:hidden">
          <button
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            @click="mobileMenuOpen = true"
          >
            <span class="sr-only">Open main menu</span>
            <Bars3Icon class="h-6 w-6" aria-hidden="true" />
          </button>
        </div>
        <PopoverGroup class="hidden lg:flex lg:gap-x-12">
          <NuxtLink
            v-for="link in links"
            :key="link.title"
            :to="link.href"
            class="text-sm font-semibold leading-6 text-gray-900"
            :class="{ 'underline underline-offset-8': isSubPage(link.href) }"
            >{{ link.title }}</NuxtLink
          >
        </PopoverGroup>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <!-- Intentionally left empty -->
        </div>
      </nav>
      <ClientOnly>
        <Dialog as="div" class="lg:hidden" :open="mobileMenuOpen" @close="mobileMenuOpen = false">
          <div class="fixed inset-0 z-10" />
          <DialogPanel
            class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
          >
            <div class="flex items-center justify-end">
              <button
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-gray-700"
                @click="mobileMenuOpen = false"
              >
                <span class="sr-only">Close menu</span>
                <XMarkIcon class="h-6 w-6" aria-hidden="true" />
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <NuxtLink
                    v-for="link in links"
                    :key="link.title"
                    :to="link.href"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    :class="{ 'underline underline-offset-8': isSubPage(link.href) }"
                    @click="mobileMenuOpen = false"
                    >{{ link.title }}</NuxtLink
                  >
                </div>
              </div>
            </div>
          </DialogPanel>
        </Dialog>
      </ClientOnly>
    </header>
    <div class="max-w-7xl pb-6 px-4 lg:px-8 mx-auto">
      <NuxtPage />
    </div>
  </div>
</template>

<script setup lang="ts">
import { Dialog, DialogPanel, PopoverGroup } from '@headlessui/vue';
import { Bars3Icon, XMarkIcon } from '@heroicons/vue/24/outline';

const route = useRoute();

const mobileMenuOpen = ref(false);

const links = [
  {
    title: 'Home',
    href: '/'
  },
  {
    title: 'Tochten',
    href: '/tochten'
  },
  {
    title: 'Over',
    href: '/over'
  }
  // {
  //   title: 'Motorcycles',
  //   href: '/'
  // }
];

const isSubPage = (href: string) => {
  if (href === '/') {
    return route.path === href;
  }
  return route.path.includes(href);
};
</script>
