<template>
  <div v-if="tour">
    <div class="relative">
      <img class="relative object-cover full-width h-64" :src="coverImageUrl" />
      <div
        class="absolute bottom-0 left-0 right-0 px-4 py-2 text-center full-width bg-[rgba(31,41,55,0.7)]"
      >
        <h1 class="text-4xl text-gray-100 font-bold">
          {{ tour.title }}
        </h1>
      </div>
    </div>

    <div class="pt-4">
      <NuxtLink :to="{ path: '/tochten' }">&#10094; Terug</NuxtLink>
    </div>

    <div class="pt-8 grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="flex flex-col gap-8">
        <!-- eslint-disable vue/no-v-html -->
        <div class="tour-description" v-html="$mdRenderer.render(tour.content)"></div>
        <!-- eslint-enable -->
        <div class="flex flex-col gap-4">
          <TourDetails :tour="tour" />
          <div v-if="tour.motorcycles.data.length > 0" class="flex gap-4">
            <MotorcyclePill
              v-for="motorcycle in tour.motorcycles.data"
              :key="motorcycle.id"
              :motorcycle="motorcycle.attributes"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-8">
        <div v-if="gpxUrl" class="shadow-md w-full h-80">
          <GPXMap :gpx="gpxUrl" />
        </div>
        <ImageCarousel
          v-if="tour.images.data && tour.images.data.length > 0"
          :images="tour.images.data.map((i) => useStrapiMediaWithSize(i.attributes.url, 'large'))"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Tour } from '~/types';

const route = useRoute();
const router = useRouter();
const { find } = useStrapi<Tour>();

const { data: tour } = await useAsyncData(`tour_${route.params.slug}`, () =>
  find('tours', {
    populate: {
      coverImage: {
        populate: true
      },
      images: {
        populate: true
      },
      gpx: {
        populate: true
      },
      motorcycles: {
        populate: ['image']
      }
    },
    filters: {
      slug: route.params.slug
    }
  })
    .then((res) => {
      if (res.data.length !== 1) {
        throw new Error('Expected exactly one result');
      }
      return res.data[0]?.attributes;
    })
    .catch(() => {
      router.push({ path: '/' });
    })
);

const coverImageUrl = computed(
  () =>
    (tour.value?.coverImage.data &&
      useStrapiMediaWithSize(tour.value.coverImage.data.attributes.url, 'xlarge')) ||
    undefined
);

const gpxUrl = computed(
  () => tour.value?.gpx.data && useStrapiMedia(tour.value.gpx.data.attributes.url)
);
</script>

<style lang="scss">
.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
  width: 100vw;
}

.tour-description {
  & ul {
    list-style: disc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
  }

  & a {
    text-decoration: underline;
  }
}
</style>
