<template>
  <div class="flex flex-col gap-12">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900">Tochten</h1>
    <TourList v-if="tours" :tours="tours" />
  </div>
</template>

<script setup lang="ts">
import { Tour } from '~/types';

const { find } = useStrapi<Tour>();

const { data: tours } = await useAsyncData('tours', () =>
  find('tours', {
    populate: 'coverImage',
    sort: 'riddenOnDate:desc'
  }).then((res) => res.data.map((d) => d.attributes))
);
</script>
