<template>
  <clientOnly>
    <LMap
      ref="map"
      :zoom="zoom"
      :center="[47.21322, -1.559482]"
      :use-global-leaflet="true"
      class="rounded-md"
      @ready="init"
    >
      <LTileLayer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        layer-type="base"
        name="OpenStreetMap"
      />
    </LMap>
  </clientOnly>
</template>

<script setup lang="ts">
const zoom = ref(6);
const map = ref(null);

const props = defineProps({
  gpx: {
    type: String,
    required: true
  }
});

const init = () => {
  new L.GPX(props.gpx, {
    async: true,
    marker_options: {
      startIcon: L.divIcon({
        iconSize: 'auto',
        className: 'dummy',
        iconAnchor: [12, 24],
        html: `
          <span class="text-green-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
            </svg>
          </span>`
      }),
      endIcon: L.divIcon({
        iconSize: 'auto',
        className: 'dummy',
        iconAnchor: [12, 24],
        html: `
          <span class="text-red-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
            </svg>
          </span>`
      })
    }
  })
    .on('loaded', (e) => {
      map.value.leafletObject.fitBounds(e.target.getBounds());
    })
    .addTo(map.value.leafletObject);
};
</script>
