<template>
  <ClientOnly>
    <Carousel wrap-around>
      <Slide v-for="image in images" :key="image" class="aspect-w-16 aspect-h-9">
        <img :src="image" class="object-cover rounded-md" />
      </Slide>
      <template #addons>
        <Navigation />
        <Pagination />
      </template>
    </Carousel>
  </ClientOnly>
</template>

<script setup lang="ts">
import type { PropType } from 'vue';

defineProps({
  images: {
    type: Array as PropType<string[]>,
    required: true
  }
});
</script>

<style>
.carousel__prev,
.carousel__next {
  border-radius: 50%;
  background-color: rgba(31, 41, 55, 0.7);
  color: white;
}
</style>
