<template>
  <div
    class="inline-flex items-center rounded-full px-4 py-1 text-sm font-medium text-gray-900 border border-gray-200 gap-2"
  >
    <img :src="imageSrc" class="h-8" />
    {{ motorcycle.name }} ({{ motorcycle.year }})
  </div>
</template>

<script setup lang="ts">
import type { PropType } from 'vue';
import { MotorCycle } from '~/types';

const props = defineProps({
  motorcycle: {
    type: Object as PropType<MotorCycle>,
    required: true
  }
});

const imageSrc = computed(() =>
  useStrapiMediaWithSize(props.motorcycle.image.data.attributes.url, 'thumbnail')
);
</script>
