<template>
  <div v-if="showDetails" class="bg-gray-100 p-4 flex flex-col gap-4 rounded-md">
    <h3 class="text-base font-semibold leading-7 text-gray-900">Tourdetails</h3>
    <div class="border-t border-gray-200">
      <dl class="divide-y divide-gray-200 flex flex-col gap-4">
        <template v-for="detail in details" :key="detail.title">
          <div v-if="detail.include" class="grid grid-cols-2 gap-4 pt-4 items-center">
            <dt class="text-sm font-medium leading-6 text-gray-900">{{ detail.title }}</dt>
            <dd class="mt-1 sm:mt-0 text-sm leading-6 text-gray-700">
              <template v-if="detail.value">{{ detail.value }}</template>
              <div v-else-if="detail.stars" class="flex gap-1/2">
                <StarIconSolid v-for="i in detail.stars" :key="i" class="h-4 w-4 text-gray-600" />
                <StarIconOutline v-for="i in MAX_STARS - detail.stars" :key="i" class="h-4 w-4" />
              </div>
            </dd>
          </div>
        </template>
      </dl>
    </div>
  </div>
</template>

<script setup lang="ts">
import { StarIcon as StarIconOutline } from '@heroicons/vue/24/outline';
import { StarIcon as StarIconSolid } from '@heroicons/vue/24/solid';
import type { PropType } from 'vue';
import { Tour } from '~/types';

const MAX_STARS = 5;

interface Detail {
  title: string;
  include: boolean;
  value?: string;
  stars?: number;
}

const props = defineProps({
  tour: {
    type: Object as PropType<Tour>,
    required: true
  }
});

const dayjs = useDayjs();

const details: ComputedRef<Detail[]> = computed(() => [
  {
    title: 'Gereden op',
    include: !!props.tour.riddenOnDate,
    value: dayjs(props.tour.riddenOnDate, 'YYYY-MM-DD').format('DD-MM-YYYY')
  },
  {
    title: 'Lengte (km)',
    include: !!props.tour.lengthKm,
    value: `${props.tour.lengthKm} km`
  },
  {
    title: 'Lengte (minuten)',
    include: !!props.tour.lengthMinutes,
    value: `${props.tour.lengthMinutes} minuten`
  },
  {
    title: 'Hoogteverschil',
    include: !!props.tour.elevation,
    value: `${props.tour.elevation} m`
  },
  {
    title: 'Soort wegen',
    include: !!props.tour.roadTypes,
    value: props.tour.roadTypes?.join(', ') || ''
  },
  {
    title: 'Wegkwaliteit',
    include: !!props.tour.roadQuality,
    stars: props.tour.roadQuality
  },
  {
    title: 'Bochtigheid',
    include: !!props.tour.curvature,
    stars: props.tour.curvature
  }
]);

const showDetails = computed(() => details.value.some((d) => d.include));
</script>
