<template>
  <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    <div v-for="tour in tours" :key="tour.slug" class="group relative">
      <div
        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80 transition ease-in-out group-hover:scale-[1.03] group-hover:opacity-75 shadow-md"
      >
        <img
          :src="imageUrl(tour)"
          class="h-full w-full object-cover object-center lg:h-full lg:w-full"
        />
      </div>
      <div class="mt-4 flex justify-between">
        <h3 class="text-sm text-gray-700 font-bold">
          <NuxtLink :to="`/tochten/${tour.slug}`">
            <span aria-hidden="true" class="absolute inset-0" />
            {{ tour.title }}
          </NuxtLink>
        </h3>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'nuxt/dist/app/compat/capi';
import { Tour } from '~/types';

defineProps({
  tours: {
    type: Array as PropType<Tour[]>,
    required: true
  }
});

const imageUrl = (tour: Tour) =>
  useStrapiMediaWithSize(tour.coverImage.data.attributes.url, 'large');
</script>
