<template>
  <div class="flex flex-col gap-12">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900">Home</h1>

    <div class="flex flex-col gap-8">
      <h2 class="text-xl font-semibold tracking-tight text-gray-900">Aanbevolen tochten</h2>
      <TourList v-if="tours" :tours="tours" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { FeaturedTour } from '~/types';

const { find } = useStrapi<FeaturedTour>();

const { data: featuredTours } = await useAsyncData('featuredTours', () =>
  find('featured-tours', {
    populate: {
      tour: {
        populate: ['coverImage']
      }
    },
    sort: 'index'
  }).then((res) => res.data.map((d) => d.attributes))
);

const tours = computed(() => featuredTours.value?.map((f) => f.tour.data.attributes));
</script>
