<template>
  <div class="flex flex-col gap-12">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900">Over</h1>
    <p class="text-gray-900">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non rutrum risus, non accumsan
      ligula. Nulla non erat condimentum, mollis diam ut, volutpat odio. Morbi sed est ligula.
      Aliquam sodales tempor faucibus. Suspendisse eros turpis, lobortis dapibus fringilla eget,
      convallis eu sem. Donec tempor justo quis lectus aliquet pulvinar. Sed sodales luctus libero,
      et lobortis ipsum condimentum elementum. Fusce pulvinar, mauris ac ornare consequat, orci
      ligula aliquam ex, ut maximus ante neque sit amet ante. Ut placerat neque non sapien cursus
      tempor. Nam commodo ante eu rutrum scelerisque. Vestibulum finibus elementum quam. Proin
      molestie dui nec velit interdum dictum. Nam pellentesque odio sed sapien mattis, et lacinia
      leo sollicitudin. Praesent enim mauris, sodales placerat nunc sagittis, vulputate porta lacus.
      Morbi id justo molestie, bibendum lectus et, tempus leo. Nam dignissim tempor semper.
      Pellentesque dolor velit, suscipit quis consequat a, tempus vel libero. Aenean rutrum eget
      lacus ac tristique. Nunc nec consequat mi. Nullam pharetra, leo in bibendum volutpat, erat
      velit imperdiet nibh, id commodo orci mi sit amet metus. Aliquam erat volutpat. Cras malesuada
      velit eget vulputate pharetra. Fusce magna odio, venenatis non ante non, fringilla
      sollicitudin nisi. Praesent accumsan lacinia tortor. Nam quis justo condimentum lectus
      accumsan lobortis. Morbi condimentum nunc egestas velit vulputate, at efficitur sapien
      posuere. Curabitur nec neque eros. Vivamus efficitur vitae diam vehicula convallis. Cras in ex
      porta, condimentum massa vitae, posuere turpis. Suspendisse varius mauris erat, elementum
      sodales magna aliquet tempor. Donec bibendum metus quis massa luctus pulvinar. Proin porttitor
      ultricies iaculis. Aliquam erat volutpat. Mauris venenatis feugiat dolor eget tempor. In
      aliquet lobortis turpis, id tristique elit commodo id. Aenean molestie congue dui, at gravida
      risus porttitor accumsan. Duis ex ex, pellentesque at ex ut, porta sollicitudin nulla. Etiam
      sollicitudin pretium nunc et tincidunt. Aenean lorem magna, elementum vel arcu in, facilisis
      consequat dolor. Integer tristique ornare venenatis. Nullam sed magna ut diam blandit lacinia.
      Duis efficitur est vitae rutrum auctor. Nam tincidunt purus sed faucibus tempus. Mauris
      pulvinar faucibus erat eu aliquam. Vivamus nisl ligula, fringilla et massa eu, finibus congue
      dui. Phasellus ornare sem eu erat fringilla, nec venenatis magna auctor. Phasellus ac interdum
      velit. Ut at dolor mollis, finibus nulla non, interdum eros. Sed eu nisl sed velit
      sollicitudin vehicula. In laoreet sapien ut ex rhoncus, sollicitudin condimentum tortor
      hendrerit. Quisque porttitor scelerisque laoreet. Sed dapibus enim non nibh ultrices rhoncus.
      Donec tempor ante non ex porta, sit amet sagittis tellus elementum. Nullam eget tellus enim.
      Pellentesque egestas bibendum molestie. Quisque orci dolor, blandit sed justo non, efficitur
      consectetur lorem. Nulla pulvinar posuere mi egestas varius.
    </p>
  </div>
</template>
